.navbar_container {
  position: fixed;
  width: 85%;
  height: 10%;
  left: 3%;
  top: 0%;
  margin-bottom: 50px;
  background: #343a40;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
}

.ul_nav {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #ffffff;
  list-style: none;
  padding: 10px;
  justify-content: flex-start;
}

li {
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #6c757d;
}
.user_name_nav {
  color: #6c757d;
}

nav a.active {
  color: white;
}
