.user_container {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 30%;
  height: fit-content;
}

.change_userName_btn {
  width: 45px;
  height: fit-content;
  font-size: x-small;
  padding: 3px;
  margin-top: 5px;
  margin-left: 50%;
  border: none;
}
