.profile_container {
  position: absolute;
  top: 20%;
  left: 30%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  width: 80%;
}
.profile_headline {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0em;
}
.User_headline {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
}
.User_name_content {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  padding: 7px;
  width: 50%;
  border: 2px solid #cccccc;
  border-radius: 6px;
}

.user_container {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 30%;
  height: fit-content;
  background-color: #15202b;
  color: white;
}

.user_name_nav {
  font-family: Roboto;
  font-style: italic;
}

.change_userName_btn {
  margin: none;
  flex-direction: column;
  position: relative;
  top: 10px;
  left: 400px;
  font-size: small;
  padding: 5px;
}
.profile picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
