.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  color: aliceblue;
}

.login-form lable {
  display: block;
  margin: 30px auto;
}

.login-form span {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  width: 100%;
  border: 2px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 5px;
}
